<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{ fragments/nav.html::navbar }"></div>

<div class="detail">
  <h4>상세페이지</h4>
  <img th:if="${items.imgUrl == null || items.imgUrl.isEmpty()} " src="https://placehold.co/300">
  <img th:if="${items.imgUrl != null} " th:src="${items.imgUrl}">
  <h4 th:text="${items.title}">금도금 바지</h4>
  <p th:text="${items.price + '원' }">7억</p>
</div>


<form action="/order" method="POST">

  <h4>수량</h4>
  <input type="button" onclick="currentCount('plus')" value="+">
  <input type="button" onclick="currentCount('minus')" value="-">
  <div id="currentCount" th:data-price="${items.price}">0</div>


  <h4>총 가격</h4>
  <div id="price">0원</div>
  <!-- Hidden input for 수량 -->
  <input type="hidden" id="hiddenCount" name="count" value="0">

  <!-- Hidden input for 총 가격 -->
  <input type="hidden" id="hiddenTotalPrice" name="totalPrice" value="0">
  <input id="item_id" name="item_id" th:value="${items.id}" type="hidden">


  <button>주문하기</button>
</form>



<h3>Comments</h3>
<ul>
  <li th:each="comment : ${commentsList}">
    <p th:text="${comment.username} + ': ' + ${comment.content}"></p>
  </li>
</ul>

<form action="/comment" method="POST">
  <input name="content">
  <input name="parent" th:value="${items.id}" style="display : none">
  <button type="submit">댓글 등록</button>
</form>



<!-- 이전 버튼 -->
<div>
  <ul class="pagination">
    <li th:class="${currentPage == 1} ? 'disabled'">
      <span th:if="${currentPage == 1}">이전</span>
      <a th:if="${currentPage > 1}"
         th:href="@{'/detail/' + ${items.id} + '?comment=' + ${currentPage - 1}}">이전</a>
    </li>

    <!-- 페이지 번호 -->
    <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
        th:class="${pageNum == currentPage} ? 'active'">
      <a th:href="@{'/detail/' + ${items.id} + '?comment=' + ${pageNum}}" th:text="${pageNum}"></a>
    </li>

    <!-- 다음 버튼 -->
    <li th:class="${currentPage == totalPages} ? 'disabled'">
      <span th:if="${currentPage == totalPages}">다음</span>
      <a th:if="${currentPage < totalPages}"
         th:href="@{'/detail/' + ${items.id} + '?comment=' + ${currentPage + 1}}">다음</a>
    </li>
  </ul>
</div>


<script>
  function currentCount(type)  {
  // 결과를 표시할 element
  const countElement = document.getElementById('currentCount');
  const totalPriceElement = document.getElementById('price');

  const hiddenCount = document.getElementById('hiddenCount');
  const hiddenTotalPrice = document.getElementById('hiddenTotalPrice');

  // 현재 화면에 표시된 값
  let number = parseInt(countElement.innerText);
   const price = parseInt(countElement.dataset.price);

  // 더하기/빼기
  if(type === 'plus') {
    number += 1;

  }else if(type === 'minus')  {
    number -= 1;
  }
  // 0 보다 작을 때 0으로 고정
  if(number < 0) {
    number = 0;
  }

   // 총 가격 계산
    const totalPrice = number * price;

  // 결과 출력
  countElement.innerText = number;
  totalPriceElement.innerText = totalPrice + '원';

  hiddenCount.value = number;
  hiddenTotalPrice.value = totalPrice;
}

</script>

</body>

</html>