<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{ fragments/nav.html::navbar }"></div>


<form th:action="@{/update/{item_id}(item_id=${item.id})}" method="post">
  <h4>수정페이지</h4>
  <img src="https://placehold.co/300">
  <br>
  <label for="title">Title</label>
  <input type="text" id="title" name="title" th:value="${item.title}"/>

  <label for="price">Price</label>
  <input type="number" id="price" name="price" th:value="${item.price}"/>

  <button type="submit">수정</button>
</form>

</body>
</html>