<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{ fragments/nav.html::navbar }"></div>


  <div class="card" th:each="item : ${items}">
    <a th:href="@{/detail/{id}(id=${item.id})}">
    <img src="https://placehold.co/300">
    </a>
    <div>
    <h4>
    <a th:text="${item.title}" th:href="@{/detail/{id}(id=${item.id})}">바지</a>
    </h4>
    <p th:text="${item.price + '원'}">45000원</p>
      <a th:href="@{/edit/{id}(id=${item.id})}">
      <button >수정</button>
      </a>
      <button th:onclick="fetch('/delete?item_id=[[${item.id}]]', {method : 'DELETE'})
            .then(r => r.text())
            .then(() => {
              location.reload();
            })
      ">삭제</button>
    </div>

  </div>

<div>
  <ul class="pagination">
    <!-- 이전 버튼 -->
    <li th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:href="@{/list/page/{num}(num=${currentPage - 1})}" th:if="${currentPage > 1}">이전</a>
      <span th:if="${currentPage == 1}">이전</span>
    </li>

    <!-- 페이지 번호 -->
    <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
        th:classappend="${pageNum == currentPage} ? 'active'">
      <a th:href="@{/list/page/{num}(num=${pageNum})}" th:text="${pageNum}"></a>
    </li>

    <!-- 다음 버튼 -->
    <li th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:href="@{/list/page/{num}(num=${currentPage + 1})}" th:if="${currentPage < totalPages}">다음</a>
      <span th:if="${currentPage == totalPages}">다음</span>
    </li>
  </ul>
</div>




</body>
</html>